{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% include 'partials/sidebar_comprador.html' %}
        <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h2 class="h4">Meus Pedidos</h2>
            </div>

            <!-- Conteúdo específico da página -->
            <div class="table-responsive">
                <!-- Tabela de pedidos -->
            </div>
        </main>
    </div>
</div>
{% endblock %}