{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% include 'partials/sidebar.html' %}
        
        <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <h2 class="my-4">Configurações do Perfil</h2>
            
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label class="form-label">Tipo de Usuário</label>
                            <input type="text" class="form-control" 
                                   value="{{ request.user.perfil.get_tipo_display }}" 
                                   disabled>
                        </div>
                        
                        {{ form.as_p }}
                        
                        <button type="submit" class="btn btn-primary">
                            Salvar Alterações
                        </button>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}